<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../process">Process</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../orders">Orders</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../recalls">Recalls</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../products">Products</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../timesheet">Timesheet</a></li>
</ul><br><br>
<!-- Error message -->
<h1 class="alert alert-danger fade in" role="alert" id="error" style="color: darkred; text-align: center">Error</h1><br><br>
<h2 style="text-align: center">It seems like there was an error with your request. Please try again!</h2><br>
<h2 style="text-align: center; font-size: 25px">If this error persists, please contact your administrator.</h2><br>

</body>
</html>