<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
        <li style="display: inline"><a href="process">Process</a></li>
        <li style="display: inline"><a href="orders">Orders</a></li>
        <li style="display: inline"><a href="recalls">Recalls</a></li>
        <li style="display: inline"><a href="products">Products</a></li>
        <li style="display: inline"><a href="timesheet">Timesheet</a></li>
        <li style="display: inline"><a href="log">Log</a></li>
    </ul><br><br>

    <h1 style="text-align: center">Orders</h1><br><br>
    <ol style="text-align: center">
        <li></li>
        <button type="button" style="background-color: grey; color: white; display: inline">View</button>
        <button type="button" style="background-color: darkred; color: white; display: inline">Remove</button>

    </ol>


</body>
</html>