<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
        <li style="display: inline"><a href="process.html">Process</a></li>
        <li style="display: inline"><a href="orders.html">Orders</a></li>
        <li style="display: inline"><a href="recalls.html">Recalls</a></li>
        <li style="display: inline"><a href="products.html">Products</a></li>
        <li style="display: inline"><a href="timesheet.html">Timesheet</a></li>
        <li style="display: inline"><a href="log.html">Log</a></li>
    </ul>


</body>
</html>