<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Manufacturing Process</title>
</head>
<body>
    <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
        <li style="display: inline"><a href="process.html">Process</a></li>
        <li style="display: inline"><a href="orders.html">Orders</a></li>
        <li style="display: inline"><a href="recalls.html">Recalls</a></li>
        <li style="display: inline"><a href="products.html">Products</a></li>
        <li style="display: inline"><a href="timesheet.html">Timesheet</a></li>
        <li style="display: inline"><a href="log.html">Log</a></li>
    </ul><br><br>

    <h1 style="text-align: center">Status: </h1>
    <h1 style="text-align: center">Order/Recall: </h1><br>
    <h2 style="text-align: center">Queue:</h2>
    <ol>
        <!--Thymeleaf stuffz-->
    </ol><br><br>

    <div style="text-align: center">
    <button type="button" style="background-color: green; color: white">Start Process</button>
    <button type="button" style="background-color: darkred; color: white">Stop Process</button>
    <button type="button" style="background-color: grey; color: white">Skip Process</button>
    </div>

</body>
</html>