<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en"><head>
    <meta charset="UTF-8">
    <title>Manufacturing Process</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
    <ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
        <li style="display: inline; margin: 10px; padding: 10px"><a href="process">Process</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="orders">Orders</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="recalls">Recalls</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="products">Products</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="timesheet">Timesheet</a></li>
<!--        <li style="display: inline; margin: 10px; padding: 10px"><a href="log">Log</a></li>-->
    </ul><br><br>

    <h1 style="text-align: center">Status: <span th:text="${queueStatus}"></span></h1>
    <h1 style="text-align: center">
        Current Request#:
        <span th:unless="${#lists.isEmpty(requests)}">
            <span th:text="${requests[0].getId()}"></span>
        </span>
    </h1><br>

    <div class="container" style="width: 30%; text-align: center">
        <h2 style="text-align: center">Requests to be Completed:</h2>
        <ol id="product-list" style="text-align: center; display: inline; font-size: 20px; margin: 10px; padding: 10px">
            <li th:if="request" th:each="request: ${requests}">
                <span th:text="${request.getType()}" style="display: inline"></span>
                #
                <span th:text="${request.getId()}" style="display: inline; padding-right: 3em"></span>
                <span th:text="${request.getProduct().getName()}" style="display: inline; padding-right: 3em"></span>
                <span th:text="Quantity" style="display: inline"></span>
                =
                <span th:text="${request.getQuantity()}" style="display: inline"></span>
            </li>
        </ol><br><br>
    </div>

    <div id="controls" style="text-align: center; color: white">
        <button type="button" id="start" style="background-color: green; color: white">Start Process</button>
        <button type="button" id="stop" style="background-color: darkred; color: white">Stop Process</button>
        <button type="button" id="skip" style="background-color: grey; color: white">Skip Process</button>-->
    </div>
    <div>
        <h2 style="text-align: center">
            Time Left till Completion: <span th:text="${timeLeft}" style="display: inline"></span>
        </h2>
    </div>

</body>
</html>