<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
    <li style="display: inline"><a href="process">Process</a></li>
    <li style="display: inline"><a href="orders">Orders</a></li>
    <li style="display: inline"><a href="recalls">Recalls</a></li>
    <li style="display: inline"><a href="products">Products</a></li>
    <li style="display: inline"><a href="timesheet">Timesheet</a></li>
    <li style="display: inline"><a href="log">Log</a></li>
</ul><br><br>

<h1 style="text-align: center">Products</h1><br><br>
<ol th:each="product: ${products}">
    <li th:text="${product.getName()}"></li>
    <button type="button" style="background-color: grey; color: white">View Recipe</button>
</ol>


</body>
</html>