<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Nav bar -->
<ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../process">Process</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../orders">Orders</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../recalls">Recalls</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../products">Products</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../timesheet">Timesheet</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="../logout">Logout</a></li>
</ul><br><br>

<!-- Product Name -->
<h1 style="text-align: center"><span th:text="${product.getName()}"></span></h1><br><br>

<!-- List of components -->
<div class="container" style="width: 30%; text-align: center; font-size: 22px">
    <h2 style="text-align: center">Recipe:</h2>
    <ul id="product-list" style="text-align: center; display: inline; font-size: 20px; margin: 10px; padding: 10px; list-style-type: none">
        <li th:each="component: ${product.getRecipe().getComponents()}">
            ITEM#<span th:text="${component.getItem().getId()}" style="display: inline; padding-right: 3em"></span>
            <span th:text="${component.getItem().getName()}" style="display: inline; padding-right: 3em"></span>
            <span th:text="Quantity" style="display: inline"></span> = <span th:text="${component.getQuantity()}" style="display: inline"></span>
        </li>
    </ul><br><br>

    <!-- Manufacturing Instructions -->
    <h2>Instructions:</h2>
    <ol style="font-size: 22px">
        <li th:each="step: ${product.getRecipe().getBuildInstructions()}"><span th:text="${step}"></span></li>
    </ol>
    <br>
    <!-- Build time -->
    <h2>Build Time:</h2>
    <p style="font-size: 26px"><span th:text="${product.getRecipe().getBuildTime()}"></span> minutes</p>
</div>

</body>
</html>