<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recalls</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
    <li style="display: inline; margin: 10px; padding: 10px"><a href="process">Process</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="orders">Orders</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="recalls">Recalls</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="products">Products</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="timesheet">Timesheet</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="log">Log</a></li>
</ul><br><br>

<h1 style="text-align: center">Recalls</h1><br><br>
<ol th:each="recall: ${recalls}" style="text-align: center">
    <li th:text="${recall.getName()}" style="display: inline; font-size: 20px; margin: 10px; padding: 10px"></li>
    <button type="button" style="background-color: grey; color: white; display: inline">View</button>
    <button type="button" style="background-color: darkred; color: white; display: inline">Remove</button>
</ol>

</body>
</html>