<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recall</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Nav bar -->
    <ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
        <li style="display: inline; margin: 10px; padding: 10px"><a href="../process">Process</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="../orders">Orders</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="../recalls">Recalls</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="../products">Products</a></li>
        <li style="display: inline; margin: 10px; padding: 10px"><a href="../timesheet">Timesheet</a></li>
    </ul><br><br>

    <!-- Recall ID -->
    <h1 style="text-align: center">RECALL#<span th:text="${recall.getId()}"></span></h1><br><br>

    <!-- Recall order status and product list -->
    <div class="container" style="width: 30%; text-align: center">
        <h2 style="text-align: center">Status: <stan th:text="${recallStatus}"></stan></h2>
        <h2 style="text-align: center">Product List:</h2>
        <ul th:each="product: ${recall.getProduct()}" style="text-align: center; display: inline; font-size: 20px; list-style-type: none">
            <li> PRODUCT#<span th:text="${recall.getProduct().getId()}" style="display: inline; padding-right: 25px"></span> <span th:text="${recall.getProduct().getName()}" style="display: inline; padding-right: 25px"></span> <span th:text="Quantity" style="display: inline"></span> = <span th:text="${recall.getQuantity()}" style="display: inline"></span></li>
        </ul><br><br>
    </div>

</body>
</html>