<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
</head>
<body>
<ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
    <li style="display: inline"><a href="process">Process</a></li>
    <li style="display: inline"><a href="orders">Orders</a></li>
    <li style="display: inline"><a href="recalls">Recalls</a></li>
    <li style="display: inline"><a href="products">Products</a></li>
    <li style="display: inline"><a href="timesheet">Timesheet</a></li>
    <li style="display: inline"><a href="log">Log</a></li>
</ul>

<table style="width:100%">
    <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Hours</th>
    </tr>
    <tr>
        <td>Monday</td>
        <td><input type="text" id="monday"></td>
        <td><input type="text" id="hoursMonday"></td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>


</body>
</html>