<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
</head>
<body>
<ul style="list-style-type: none; margin: 0; padding: 0; text-align: center ">
    <li style="display: inline"><a href="process">Process</a></li>
    <li style="display: inline"><a href="orders">Orders</a></li>
    <li style="display: inline"><a href="recalls">Recalls</a></li>
    <li style="display: inline"><a href="products">Products</a></li>
    <li style="display: inline"><a href="timesheet">Timesheet</a></li>
    <li style="display: inline"><a href="log">Log</a></li>
</ul>


</body>
</html>