<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul style="list-style-type: none; margin: 10px; padding: 10px; font-size: 25px; text-align: center ">
    <li style="display: inline; margin: 10px; padding: 10px"><a href="process">Process</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="orders">Orders</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="recalls">Recalls</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="products">Products</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="timesheet">Timesheet</a></li>
    <li style="display: inline; margin: 10px; padding: 10px"><a href="log">Log</a></li>
</ul><br><br>
<h1 style="text-align: center">Timesheet</h1><br><br>
    <form action="update_timesheet" style="text-align: center">
        <h2>Please update your total pay cycle hours:</h2>
        <input type="text" name="timesheet" style="width: 5%; color: cornflowerblue">
        <input type="submit" value="Submit" style="width: 6%; text-align: center;">
    </form>




</body>
</html>